body { 
    font-family: Arial, Helvetica, sans-serif; /*fonte da escrita*/
    margin: 0;  /* espaçamento externo */ 
    padding: 0; /* espaçamento interno */ 
    background-color: white;
    text-align: center;
}   

header{ 
    background: lightseagreen;
    color: aliceblue;
    padding: 15px 0; /*espaçamento interno de 15 pixels acima e abaixo, e  0px esquerda e direita*/
    font-size: 24px;
    border: 2px, solid white;
}

nav {

    background-color: #14adb8;
    padding: 8px;
    display: flex; /*flex boxing*/
    justify-content: space-between; /* alinhamento horizontal - espaço entre os links*/
    align-items: center; /* alinhamento na vertical */


}
/*referenciar um id " # "*/
#links-menu {
    display: flex;
    gap: 15px;

}
/* configura o estilo das ancoras dentro do nav*/
nav a { 
    color: white; /*texto branco*/
    text-decoration: none; /* nao faz decoração no link*/
    padding: 10px 20px; /*10 ´´e acima e abaixo e 15 é esquerda e direita*/
    font-size: 18px; /*18px é o tamanho da fonte*/
    background: #048497 ; /*cor de fundo */
    border-radius: 5px; /* borda com canto arredondado*/
    
}

nav a:hover {
       background: #046b7a;

}

img {
    width: 120px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;

}
/* referenciar uma classe : " . " */ 
.container{  
    color: rgb(125, 146, 165);
    width: 80%;
    margin: 20px auto; /* 20px em cima e em baixo e automcatica esquerda e direita */
    text-align: left;
    h2{
        text-align: center;
    }
    td{  /*table, tr , td */
        padding: 20px 0px; 
    }
    table {
    margin: 0 auto; /*espaçamento externo de 0 acima e abaixo e automático esquerda e direita*/
}

#x  {
    padding: 20px 0px;
}
/*como especificar um td: td id = "x" e depois especificar no css como : #x { }  */ 


.laranja {
    background-color: orange;
    
}
.azul {
    background-color: blue;

}
.preta {
    background-color: black;
    color: white;
}
.verde {
    background-color: green;

}
.vermelha {
    background-color: red;
}
.roxa {
    background-color: purple;
}

}